.container
  .profile 
    .comment-header-back-image
      = link_to root_path do
        %i.fas.fa-arrow-left.fa-2x
    .account-name
      %p= @user.account_name
    .profile-img
      - if @profile&.image.present?
        = image_tag @profile.image
      - else 
        = image_tag 'Ellipse.png'
  = link_to 'LOGOUT', destroy_user_session_path, data: {method: 'delete'}
= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
  = f.file_field :image
  = f.submit '保存'
= render 'commons/articles'
