.articles-header
  .articles-post-article
    = link_to  new_article_path do
      = image_tag 'create.png'
  .articles-header-title
    Yuyagram
  .articles-user-image
    = link_to profile_path do
      = image_tag @user.author_image

%br
.cards
  - @articles.each do |article|
    .card#article-show{data: {article_id: article.id}, class: article.id}
      .card-account
        .card-account-icon
          = image_tag article.user.author_image
        .card-account-info
          .card-account-info-name
            = article.user.account_name
          .card-account-info-posttime
            = time_ago_in_words(article.created_at)
      .article
        .article-images
          - if article.images.attached?
            - article.images.each do |image|
              = image_tag image
        .article-btn
          - if user_signed_in?
            .active-heart.hidden{id: "#{article.id}"}
              = image_tag 'active_like.png'
            .inactive-heart.hidden{id: "#{article.id}"}
              = image_tag 'like.png'
            .article-btn-comment{id: "#{article.id}"}
              = link_to article_path(id: article.id) do
                = image_tag 'comment.png'
            .article-btn-share
              = link_to image_tag('share.png'), "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank'
            %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
        .article-content
          = article.content
        = link_to '削除', article_path(article), data: { method: 'delete'}

