.container{data: {id: @current_user.id}}
  .profile{data: {id: @user.id}}
    .follow-btn.hidden{id: @user.id}
      %P Follow
    .unfollow-btn.hidden{id: @user.id}
      %P Unfollow
    .comment-header-back-image
      = link_to root_path do
        %i.fas.fa-arrow-left.fa-2x
    .account-name
      %p= @user.account_name
    .profile-img
      - if @profile&.image.present?
        = image_tag @profile.image
      - else 
        = image_tag 'Ellipse.png'
  = link_to 'LOGOUT', destroy_user_session_path, data: {method: 'delete'}
  = render 'commons/counting'
  = render 'commons/articles'
  
